
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Spicy+Rice&display=swap');

@import url(components/container.css);
@import url(components/carousel-inner.css);
@import url(components/footer.css);
@import url(components/navbar.css);
@import url(components/banner-container.css);



body {
    background-color: #ea526f;
    font-family: "Shantell Sans", system-ui;
    font-size: 15px;
    margin: 0px;
    font-style: normal;
    font-weight: 600;
    color: black;
    padding-top: 80px;
    padding: 0; /* Remove default padding */
}

span{
    
    font-family: "Spicy Rice", serif;
    font-weight: bold;
    font-style: normal;
}









